<div id="trang-custom-section">  
  {%- if section.settings.title != blank -%}
  <div class="trang-custom-title"><h2>{{section.settings.title}}</h2></div>  
  {%- endif -%}    
  <div class="trang-custom-code">{{section.settings.custom_html}}</div>
</div>
<style> 
  #trang-custom-section{position:relative;}
  .trang-custom-title{text-align:center;}
</style>

{% schema %}
  {
    "name": "HTML",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type":"textarea",
        "id": "custom_html",
        "label": "HTML"
      }
    ],
    "presets": [
      {
        "name": "Custom HTML",
        "category": "Trang",
        "settings": {

        }
      }
    ]
  }
{% endschema %}
