.banner__media {
  display: none;
}

.banner {
  background: url(hero_banner.jpg) no-repeat center;
  background-color: black;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: rgba(50, 70, 80, 0.7);
  background-blend-mode: soft-light;
  background-size: cover;
}

.banner__box {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.banner__content {
  align-items: center;
}

/* .banner__heading {
  position: absolute;
} */

/* .banner__media > .placeholder {
  display: none;
} */

/* .placeholder-svg::after {
  display: none;
} */

.announcement-bar {
  background-color: #db592a;
}

.announcement-bar__message {
  color: white;
  font-weight: bold;
}
